
/*아이디*/
h2{
    color:red;
}

.highlight{
    text-align: center;
}

#profile{
    display: grid; grid-template-columns: 1fr 3.5fr;

}

.thumbnail_grid{display: grid;grid-template-columns: 1fr 1fr 1fr;}

.thumbnail{width: 100%;}

#stat_bar{display: grid; grid-template-columns: 1fr 1fr 1fr;
          border-top: 1px solid grey; border-bottom: 1px solid grey;
          margin-top: 5px; margin-bottom: 5px;}
.stat{text-align: center; }

.circle_pic{border : solid white 1px; border-radius: 50%;
    width: 100%; height: 100%; object-fit: cover;}

#profile_pic{width: 50px; height: 50px; margin-left: auto; margin-right: auto;}

#highlight_pc{white: 35px;height: 35px;}

#highlight_area{display: grid; grid-template-columns: 45px 45px 1fr;}

#profile_info{display: grid; grid-template-rows: 1fr 1fr; height: 50px;}

#id{font-size: 18px; font-weight: 100;}

button{
    height :80%; width: 95; font-size: 10px; background-color: white; border: 1px solid gray; border-radius: 3px;
}

#top{display: grid; grid-template-columns: 4fr 7fr 4fr; height: 30px;}

#top img{margin-left: auto;margin-right: auto; height: 100%; object-fit: contain;}

#top input{height: 60%;width: 95%;margin: auto;text-align: center;background-color: rgb(250,250,250);
            border: solid gray 1px; border-radius: 3px; font-size: 10px; font-weight: 100;}

i{ font-size: 40px; color: purple;}/*: i 전체에 들어가는 글자색은 보라색*/

#top i{font-size: 14px;}/*:i에 top에 속하는 부분은 글자크기가 14*/
#top div{text-align: center; padding-top: 6px;}

#sub_icons{display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            text-align: center; font-size: 15px; height: 30px;}
.selected{border-bottom: solid gray 3px;}


